:root {
    scroll-behavior: smooth;
}

.body {
    background-color: #20232a;
    color: #ffff;
    font-family: monospace;
    margin: 0;
}

.header {
    background-color: #50232a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*border-bottom: 0.0625rem solid #fff8;*/
    box-shadow: 0 0 0 0.0625rem #fff8;
    padding: 0;
}

.header-nav {
    padding: 1rem 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.header-nav__link-logo-container {
    background-color: #ffff;
    display: flex;
    width: 108px;
    height: 32px;
}

.header-nav__link-logo {
    background-color: black;
    width: 108px;
    height: 32px;
}

.header-nav__menu-list-container {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}