:root {
    scroll-behavior: smooth;
}

.body {
    background-color: #20232a;
    color: #ffff;
    font-family: monospace;
    margin: 0;
}

.header {
    background-color: #50232a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*border-bottom: 0.0625rem solid #fff8;*/
    box-shadow: 0 0 0 0.0625rem #fff8;
    padding: 0;
    z-index: 25;

}

.header-nav {
    padding: 1rem 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.header-nav__link-logo-container {
    background-color: #ffff;
    display: flex;
    width: 108px;
    height: 32px;
}

.header-nav__link-logo {
    background-color: black;
    width: 108px;
    height: 32px;
}

.header-nav__menu-list-container {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.header-nav__menu-link {
    display: flex;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.25s;
}

.header-nav__menu-link:hover {
    color: #61dafb;
    background-color: #ec0000;
}

.header-nav__menu-link--active {
    color: #e5ff00;
}

.header-nav__menu-link::before {
    content: "!🦄!;"
}

.header-nav__menu-link::after {
    content: "!||🦄||!;"
}

.i-hero {
    z-index: 5;
    position: relative;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url("../IMAGENES/bg-hero-react-galaxy.webp")
    
}
.i-hero::before {
    content: "";
    position: absolute;
    /*width: 100px;
    height: 100px;*/
    /*background-color: #fff;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.i-hero::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20rem;
    /*background-color: #fff;*/
    /*top: 0;
    right: 0;*/
    bottom: 0;
    left: 0;
    background-image: linear-gradient(transparent, #20232a);
}
.i-hero__container {
    z-index: 5;
}
.i-hero__info-container {}
.i-hero__info-title {}
.i-hero__info-subtitle {}
.i-hero__info-paragraph {}
.i-hero__info-link {}
.i-hero__img-container {}
.i-hero__img-pro-tech-container {}
.i-hero__img-pro {}
.i-hero__img-tech-container {}
.i-hero__img-tech {}