
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

:root {
    scroll-behavior: smooth;
}

.body {
    background-color: #20232a;
    color: #ffff;
    font-family: monospace;
    margin: 0;
}

.header {
    background-color: #20232a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*border-bottom: 0.0625rem solid #fff8;*/
    box-shadow: 0 0 0 0.0625rem #fff8;
    
    z-index: 25;

}

/*.header-nav {
    padding: 1rem 0;
}*/

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.header-nav__link-logo-container {
    background-color: #ffff;
    display: flex;
    width: 108px;
    height: 32px;
}

.header-nav__link-logo {
    background-color: black;
    width: 108px;
    height: 32px;
}

.header-nav__menu-list-container {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.header-nav__menu-link {
    display: flex;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.25s;
}

.header-nav__menu-link:hover {
    color: #61dafb;
    background-color: #ec0000;
}

.header-nav__menu-link--active {
    color: #e5ff00;
}

.header-nav__menu-link::before {
    content: "!🦄!;"
}

.header-nav__menu-link::after {
    content: "!||🦄||!;"
}

.i-hero {
    /*z-index: 10;*/
    position: relative;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    overflow: hidden;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url("../IMAGENES/bg-hero-react-galaxy.webp")
    
    
}
.i-hero::before {
    content: "";
    position: absolute;
    /*width: 100px;
    height: 100px;*/
    background-color: #00000040;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.i-hero::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2rem;
    /*background-color: #fff;*/
    /*top: 0;
    right: 0;*/
    bottom: 0;
    left: 0;
    background-image: linear-gradient(transparent, #20232a);
}
.i-hero__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 0 1rem;
    z-index: 5;
}
.i-hero__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}
.i-hero__info-title {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}
.i-hero__info-subtitle {
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
}
.i-hero__info-paragraph {
    display: none;
    
}
.i-hero__info-link {
    background-color: #61dafb;
    border: none;
    border-radius: 0.5rem;
    color: black;
    font-weight: 700;
    font-size: 0.75rem;
    font-family: monospace;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5em 2em;
    transition: filter 0.25s, box-shadow 0.25;
    
}

.i-hero__info-link:hover {
    box-shadow: 0 0 0.25rem 0 fuchsia;
    filter: brightness(112.5%);

}

.i-hero__img-container {
    display: flex;
    /*flex-direction: row;*/
    justify-content: center;
}
.i-hero__img-pro-tech-container {
    position: relative;
}
.i-hero__img-pro {
    background-color: #00000080;
    border-radius: 50%;
    width: 256px;
    height: 256px;
}



.i-hero__img-tech-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background-color: #fff8;*/
    margin: 0;
    /*transition: all 5s linear;*/
    animation: spin 10s linear 0s infinite normal forwards;
}

/*.i-hero__img-tech-container:hover {
    transform: rotate(360deg);
}*/

.i-hero__img-tech {
    position: absolute;
    width: 64px;
    height: 64px;
    /*transform: translate(-50%, -50%);*/
}

.i-hero__img-tech:nth-child(1) {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    
}
.i-hero__img-tech:nth-child(2) {
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%) rotate(90deg);

}

.i-hero__img-tech:nth-child(3) {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%) rotate(-90deg);

}

.i-hero__img-tech:nth-child(4) {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(100deg);

}


@media (min-width: 768px) {

    .i-hero__container {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0.75rem;
    }
    .i-hero__container {
        max-width: 448px;
        
    }
    .i-hero__info-title {
        font-size: 1.75rem;
    }
    .i-hero__info-subtitle {
        font-size: 1.5rem;
    }
    .i-hero__info-paragrahp {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0.75rem;
    }
}